@model IEnumerable<BlogApplication.Models.BlogPost>

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gundam Story</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/blog-post.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gundam Story</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("BlogPosts", "Index", "BlogPosts")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <img class="img-responsive" src="~/Images/banner.png" alt="banner" />
        </div>
        <hr />
        <div class="row" style="background-color: azure;">
            <!-- Blog Post Content Column -->
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                
                @*<h1 style="color:darkblue"><strong>[NEW POST]</strong></h1>

                <h3 class="post-title">TITLE: @Model.Last().Title</h3>
                <p>@Model.Last().Updated</p>
                <a href="@Url.Action("Details","BlogPosts", new { slug = Model.Last().Slug })" class="btn-group-lg">
                    VIEW
                </a>
                <img class="img-thumbnail" src="@Model.Last().MediaUrl" alt="" />
                <p class="post-subtitle"> SLUG: @Model.Last().Slug"</p>
                
                <hr />*@


                @foreach (var item in Model)
                {
                    <h3 class="post-title">TITLE: @item.Title</h3>
                    <h5 class="post-subtitle">@item.Updated</h5>
                    <img class="img-thumbnail" src="@item.MediaUrl" alt="" />
                    <p class="post-subtitle"> SLUG: @item.Slug"</p>
                    <a href="@Url.Action("Details","BlogPosts", new { slug = item.Slug })" class="btn-group-lg">
                        VIEW
                    </a>
                    <hr />
                }
            </div>
        </div>
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color: darkgoldenrod">Copyright &copy; <strong>Gundam Story 2018</strong></h1>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>
